@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --color-border-subtle: var(--color-slate-300);
    @variant dark {
      --color-border-subtle: var(--vp-input-border-color);
      --color-accent: var(--vp-c-brand-1);
    }
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border-subtle);
  }

  /* fix tailwind bug */
  input::placeholder,
  textarea::placeholder {
    color: var(--vp-c-text-3);
  }

  input:focus-visible,
  textarea:focus-visible {
    @apply ring-1 ring-gray-600 outline-none;
  }

  select:focus-visible {
    @apply ring-1 ring-gray-600 outline-none;
  }

  label:hover {
    @apply text-(--vp-c-text-1);
  }
}

@theme {
  --breakpoint-xs: 30rem;
  --text-md: 0.9335rem;
  --color-accent: var(--color-slate-700);
}
