@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-slate-300);
  }

  /* fix tailwind bug */
  input::placeholder,
  textarea::placeholder {
    color: var(--color-slate-400);
  }

  input:focus-visible,
  textarea:focus-visible {
    @apply ring-1 ring-gray-600 outline-none;
  }

  select:focus-visible {
    @apply ring-1 ring-gray-600 outline-none;
  }

  label:hover {
    @apply text-slate-950;
  }
}

@theme {
  --breakpoint-xs: 30rem;
  --text-md: 0.9335rem;
  --color-accent: var(--color-slate-700);
}
