openapi: 3.0.4

info:
  title: DaData.ru API
  version: 0.1.0
  description: |
    ### English version below

    Неофициальная спецификация OpenAPI для сервисов DaData
    DaData — это сервис подсказок и поиска по российским адресам, организациям, ФИО и другим данным.

    **Аутентификация**
    - Запросы к API подсказок и "Поиск по коду" требуют передать API-ключ (токен) в заголовке `Authorization: Token <API_KEY>`.
    - Запросы к API стандартизации, помимо токена, требуют также указать секретный ключ в заголовке `X-Secret: <SECRET_KEY>`

    **Лимиты запросов**
    API типа "Подсказки" (`suggest`) и "Поиск по коду" (`findById`):
    - До **30 запросов в секунду** на один IP
    - До **60 новых соединений в минуту** на один IP
    - Суточные лимиты зависят от тарифного плана.
    API стандартизации:
    - До **20 запросов в секунду** на один IP
    - До **60 новых соединений в минуту** на один IP

    **Важно:** Данная спецификация не является официальной. Составлено по официальной документации DaData и анализу ответов API.

    ---
    ### English version

    Unofficial OpenAPI specification for Dadata.ru APIs.
    Dadata provides various suggestion and lookup services for Russian addresses, companies, and other data.

    **Authentication:** All endpoints require an API key passed in the Authorization header.

    **Rate Limits:**
    All `suggest` and `findById` APIs:
    - Maximum 30 requests per second per IP
    - Maximum 60 new connections per minute per IP
    - Daily limits vary by subscription plan
    Standartization (`clean`) API:
    - Maximum 20 requests per second per IP
    - Maximum 60 new connections per minute per IP

    **Note:** This is an unofficial specification based on official Dadata API documentation and reverse-engineering API responses.
  termsOfService: https://dadata.ru/offer/
  contact:
    name: Dadata DSK on GitHub (unofficial)
    url: https://github.com/alexchexes/dadata-sdk
    email: alexchexes@gmail.com
  license:
    name: DaData ToS
    url: https://dadata.ru/offer/

servers:
  - url: https://suggestions.dadata.ru/suggestions/api/4_1/rs
    description: Suggestions API server

  - url: https://cleaner.dadata.ru/api/v1
    description: Standartization API server

  - url: https://dadata.ru/api/v2
    description: General API server (serves account-related endpoints)

security:
  - TokenAuth: []

tags:
  - name: suggest
    description: Подсказки выполняют полнотекстовый поиск и возвращают почтовые адреса, ФИО, реквизиты компаний или банков, и другую информацию в структурированном виде.
    externalDocs: { url: https://dadata.ru/api/suggest/ }

  - name: metro
    description: Станции метро
    externalDocs: { url: https://dadata.ru/api/suggest/metro/ }

externalDocs:
  url: https://confluence.hflabs.ru/display/SGTDOC
  description: |
    Ресурс HFLabs (ДаДата) на Confluence, описывающий некоторые API «Подсказок», jQuery-плагин и коробочную версию.
    Содержит дополнительную документацию и примеры, не представленные на https://dadata.ru/api

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        family:
          type: string
          description: asdasdsadasdas
        reason:
          type: string
          description: asdsadsadsadasd
        message:
          type: string
          description: Error message

  responses:
    BadRequest:
      description: |
        Некорректный запрос (невалидный JSON или XML)

        Для API стандартизации составных записей (clean/record):
        - Отсутствуют обязательные параметры structure или data.
        - В structure указан неподдерживаемый тип.
        - Количество полей в data более указанного в structure.
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }

    Unauthorized:
      description: В запросе отсутствует API-ключ (для "Стандартизации", также, секретный ключ)
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }

    Forbidden:
      description: |
        В запросе указан неверный API-ключ
        Или не подтверждена почта
        Или исчерпан дневной лимит запросов (проверьте через личный кабинет или API stat/daily)
        Или (Стандартизация) - недостаточно средств для обработки запроса, пополните баланс
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }

    NotFound:
      description: |
        Запрошенный ресурс не найден.
        Скорее всего, допущена ошибка при формировании URL для выполнения запроса
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }

    MethodNotAllowed:
      description: Запрос сделан с не доступным для данного API HTTP-методом, например GET там, где разрешён только POST
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }

    ContentTooLarge:
      description: Слишком большая длина запроса или слишком много условий
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }

    TooManyRequests:
      description: Слишком много запросов в секунду или новых соединений в минуту
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }

    InternalServerError:
      description: Произошла внутренняя ошибка сервиса
      content:
        application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }

  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Full header format: `Authorization: Token <YOUR_API_KEY>`'
    SecretKeyAuth:
      type: apiKey
      in: header
      name: X-Secret
      description: Секретный ключ для API Стандартизации

paths:
  /suggest/address:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, address]
      summary: Подсказки по адресам
      description: |
        Ищет адреса по любой части адреса от региона до квартиры («самара авроры 7 12» → «443017, Самарская обл, г Самара, ул Авроры, д 7, кв 12»). Также ищет по почтовому индексу («105568» → «г Москва, ул Магнитогорская»).
      externalDocs: { url: https://dadata.ru/api/suggest/address/ }
      operationId: suggestAddress
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestAddressPayload' }
            examples:
              simple_query:
                value: { query: 'москва хабар' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestAddressResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/fias:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, fias]
      summary: Подсказки по ФИАС
      description: |
        Ищет адреса строго по ФИАС. Нужны только если вам по какой-то причине важно точное, побуквенное соответствие справочнику адресов налоговой службы. В остальных случаях используйте Подсказки по адресу (`/suggest/address`).
      externalDocs: { url: https://dadata.ru/api/suggest/fias/ }
      operationId: suggestFias
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestFiasPayload' }
            examples:
              simple_query:
                value: { query: 'москва хабар' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestFiasResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/party:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, party]
      summary: Подсказки по организациям
      description: |
        Ищет компании и индивидуальных предпринимателей:
        - по ИНН, ОГРН и КПП;
        - названию (полному и краткому);
        - ФИО (для индивидуальных предпринимателей);
        - ФИО руководителя компании;
        - адресу до улицы
      externalDocs: { url: https://dadata.ru/api/suggest/party/ }
      operationId: suggestParty
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestPartyPayload' }
            examples:
              simple_query:
                value: { query: 'сбербанк' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestPartyResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/party_by:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, party_by]
      summary: Подсказки по организациям Беларуси
      description: |
        Подсказки по справочнику организаций и индивидуальных предпринимателей Беларуси
        Поиск выполняется по полям:
        - `unp`
        - `full_name_ru`
        - `full_name_by`
        - `short_name_ru`
        - `short_name_by`
        - `trade_name_ru`
        - `trade_name_by`
        - `address`
      externalDocs: { url: https://dadata.ru/api/suggest/party_by/ }
      operationId: suggestPartyBy
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestPartyByPayload' }
            examples:
              simple_query:
                value: { query: 'онлайнер' }
              only_liquidated:
                value: { 'query': 'лар', 'filters': [{ 'status': 'LIQUIDATED' }] }
              only_individual:
                value: { 'query': 'лар', 'filters': [{ 'type': 'INDIVIDUAL' }] }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestPartyByResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/party_kz:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, party_kz]
      summary: Подсказки по организациям Казахстана
      description: |
        Подсказки по справочнику организаций и индивидуальных предпринимателей Казахстана
        Поиск выполняется по полям:
        - `bin`
        - `name_ru`
        - `name_kz`
        - `fio`
        - `address_ru`
        - `address_kz`
      externalDocs: { url: https://dadata.ru/api/suggest/party_kz/ }
      operationId: suggestPartyKz
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestPartyKzPayload' }
            examples:
              simple_query:
                value: { query: 'онлайн' }
              only_foreign_branch:
                value: { 'query': 'хен', 'filters': [{ 'type': 'FOREIGN_BRANCH' }] }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestPartyKzResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/bank:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, bank]
      summary: Подсказки по банкам
      description: |
        Ищет кредитные организации:
        - по БИК,
        - SWIFT,
        - ИНН,
        - ИНН + КПП,
        - названию,
        - адресу до улицы.
      externalDocs: { url: https://dadata.ru/api/suggest/bank/ }
      operationId: suggestBank
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestBankPayload' }
            examples:
              simple_query:
                value: { query: 'сбербанк' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestBankResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/fio:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, fio]
      summary: Подсказки по ФИО
      description: |
        - Подсказывает ФИО одной строкой или отдельно фамилию, имя, отчество.
        - Исправляет клавиатурную раскладку («fynjy» → «Антон»).
        - Определяет пол.
      externalDocs: { url: https://dadata.ru/api/suggest/name/ }
      operationId: suggestFio
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestFioPayload' }
            examples:
              simple_query:
                value: { query: 'Викт' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestFioResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/email:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, email]
      summary: Подсказки по email
      description: |
        - Подсказывает локальную часть (до «собачки»).
        - Подсказывает доменную часть (после «собачки»).
        - Исправляет опечатки (yadex.ru → yandex.ru).
      externalDocs: { url: https://dadata.ru/api/suggest/email/ }
      operationId: suggestEmail
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestEmailPayload' }
            examples:
              simple_query:
                value: { query: 'anton@' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestEmailResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/fms_unit:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, fms_unit]
      summary: Подсказки по полю «Кем выдан паспорт»
      description: |
        Поиск выполняется по полям:
        - `name` - наименование (как в паспорте)
        - `code` - код подразделения
      externalDocs: { url: https://dadata.ru/api/suggest/fms_unit/ }
      operationId: suggestFmsUnit
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestFmsUnitPayload' }
            examples:
              simple_query:
                value: { query: '772-053' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestFmsUnitResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/postal_unit:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, postal_unit]
      summary: Подсказки по отделениям Почты России
      description: |
        Поиск выполняется по полям:
        - `postal_code` - индекс
        - `address_str` - адрес
      externalDocs: { url: https://dadata.ru/api/suggest/postal_unit/ }
      operationId: suggestPostalUnit
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestPostalUnitPayload' }
            examples:
              simple_query:
                value: { query: 'дежнева 2а' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestPostalUnitResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/fns_unit:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, fns_unit]
      summary: Подсказки по налоговым инспекциям
      description: |
        Поиск выполняется по полям:
        - `code` - код инспекции
        - `name_short` - наименование
        - `address` - адрес
      externalDocs: { url: https://dadata.ru/api/suggest/fns_unit/ }
      operationId: suggestFnsUnit
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestFnsUnitPayload' }
            examples:
              simple_query:
                value: { query: 'нижнего' }
              filter_region_code:
                description: Фильтрация по полю region_code (первые 2 цифры КЛАДР-кода региона)
                value: { query: 'вор', filters: [{ region_code: '36' }] }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestFnsUnitResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/fts_unit:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, fts_unit]
      summary: Подсказки по таможенным органам и постам
      description: |
        Поиск выполняется по полям:
        - `code` - код таможни
        - `name_short` - короткое наименование
        - `name` - полное наименование
        - `address` - адрес
      externalDocs: { url: https://dadata.ru/api/suggest/fts_unit/ }
      operationId: suggestFtsUnit
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestFtsUnitPayload' }
            examples:
              simple_query:
                value: { query: 'домодедово' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestFtsUnitResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/region_court:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, region_court]
      summary: Подсказки по мировым судам России
      description: |
        Поиск выполняется по полям:
        - `code` - код таможни
        - `name` - полное наименование
      externalDocs: { url: https://dadata.ru/api/suggest/region_court/ }
      operationId: suggestRegionCourt
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestRegionCourtPayload' }
            examples:
              simple_query:
                value: { query: 'нижний' }
              filter_region_code:
                description: Фильтрация по полю region_code (первые 2 цифры КЛАДР-кода региона)
                value: { query: 'ленинск', filters: [{ region_code: '58' }] }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              {
                schema: { $ref: './schemas/response.json#/definitions/SuggestRegionCourtResponse' },
              }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/metro:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, metro]
      summary: Станции метро
      description: |
        Подсказки по станциям метро в Москве, Санкт-Петербурге и других городах России.
        Поиск выполняется по полям:
        - `name` - название станции
        - `city` - название города
      externalDocs: { url: https://dadata.ru/api/suggest/metro/ }
      operationId: suggestMetro
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestMetroPayload' }
            examples:
              simple_query:
                summary: Пример запроса
                value: { query: 'алек' }
              only_spb:
                summary: Поиск среди станций Санкт-Петербурга
                value: { query: 'алек', filters: [{ city_kladr_id: '7800000000000' }] }
              only_open_in_moscow_on_line_5:
                summary: Поиск только среди открытых станций Кольцевой ветки Москвы
                value: { query: 'па', filters: [{ city: 'Москва', line_id: '5', is_closed: null }] }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestMetroResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/car_brand:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, car_brand]
      summary: Подсказки по маркам автомобилей на русском и английском языках
      description: |
        Поиск выполняется по полям:
        - `name_ru` - марка на русском языке
        - `name` - марка на исходном языке
      externalDocs: { url: https://dadata.ru/api/suggest/car_brand/ }
      operationId: suggestCarBrand
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestCarBrandPayload' }
            examples:
              simple_query:
                value: { query: 'форд' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestCarBrandResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/country:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, country]
      summary: Подсказки по странам мира (стандарт ISO 3166)
      description: |
        Поиск выполняется по полям:
        - `name` - Полное наименование страны
        - `name_short` - Краткое наименование
        - `code` - Цифровой код страны
        - `alfa2` - Буквенный код альфа-2
        - `alfa3` - Буквенный код альфа-3
      externalDocs: { url: https://dadata.ru/api/suggest/country/ }
      operationId: suggestCountry
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestCountryPayload' }
            examples:
              simple_query:
                value: { query: 'та' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestCountryResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/currency:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, currency]
      summary: Подсказки по мировым валютам (стандарт ISO 4217)
      description: |
        Поиск выполняется по полям:
        - `code` - Цифровой код валюты
        - `strcode` - Буквенный код валюты
        - `name` - Наименование валюты
        - `country` - Страна, в которой валюта является официальной
      externalDocs: { url: https://dadata.ru/api/suggest/currency/ }
      operationId: suggestCurrency
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestCurrencyPayload' }
            examples:
              simple_query:
                value: { query: 'руб' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestCurrencyResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/mktu:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, mktu]
      summary: Подсказки по классификатору товаров и услуг (МКТУ)
      description: |
        Международный классификатор товаров и услуг на трех языках (русский, английский, французский).
        Поиск выполняется по полям:
        - `number` - Уникальный номер позиции в классификаторе
        - `name_ru` - Наименование на русском
        - `name_en` - Наименование на английском
      externalDocs: { url: https://dadata.ru/api/suggest/mktu/ }
      operationId: suggestMktu
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestMktuPayload' }
            examples:
              simple_query:
                value: { query: 'валенки' }
              filter_by_mktu_class:
                value: { 'query': 'кра', 'filters': [{ 'class': '03' }] }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestMktuResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/okved2:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, okved2]
      summary: Подсказки по видам деятельности (ОКВЭД 2)
      description: |
        Общероссийский классификатор видов экономической деятельности
        Поиск выполняется по полям:
        - `kod` - Код ОКВЭД 2
        - `name` - Название вида деятельности
      externalDocs: { url: https://dadata.ru/api/suggest/okved2/ }
      operationId: suggestOkved2
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestOkved2Payload' }
            examples:
              simple_query:
                value: { query: 'запуск' }
              filter_by_razdel:
                value: { 'query': 'мыл', 'filters': [{ 'razdel': 'C' }] }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestOkved2Response' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/okpd2:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, okpd2]
      summary: Подсказки по видам продукции (ОКПД 2)
      description: |
        Общероссийский классификатор продукции по видам экономической деятельности
        Поиск выполняется по полям:
        - `kod` - Код ОКПД 2
        - `name` - Наименование продукции или услуги
      externalDocs: { url: https://dadata.ru/api/suggest/okpd2/ }
      operationId: suggestOkpd2
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestOkpd2Payload' }
            examples:
              simple_query:
                value: { query: 'калоши' }
              filter_by_razdel:
                value: { 'query': 'уст', 'filters': [{ 'razdel': 'A' }] }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestOkpd2Response' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /suggest/oktmo:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [suggest, oktmo]
      summary: Подсказки по кодам муниципальных образований (ОКТМО)
      description: |
        Общероссийский классификатор территорий муниципальных образований
        Поиск выполняется по полю `oktmo` (8-значный код ОКТМО)
      externalDocs: { url: https://dadata.ru/api/suggest/oktmo/ }
      operationId: suggestOktmo
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/SuggestOktmoPayload' }
            examples:
              simple_query:
                value: { query: '546234' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestOktmoResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/address:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, address]
      summary: Адрес по коду ФИАС, ГАР, КЛАДР или кадастровому номеру
      description: |
        Находит адрес по идентификатору:
        - кадастровый номер (`stead_cadnum`, `house_cadnum` или `flat_cadnum`), только для России;
        - ФИАС-код, он же ГАР-код (`fias_id`), только для России;
        - КЛАДР-код (`kladr_id`), только для России;
        - Идентификатор OpenStreetMap (`fias_id`), только для Беларуси, Казахстана и Узбекистана;
        - Идентификатор GeoNames (`geoname_id`), для всех остальных стран.
        По КЛАДР-коду ищет до улицы, по ФИАС-коду — до квартиры.
      externalDocs: { url: https://dadata.ru/api/find-address/ }
      operationId: findAddress
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindAddressPayload' }
            examples:
              simple_query:
                value: { query: '9120b43f-2fae-4838-a144-85e43c2bfb29' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestAddressResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/fias:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, fias]
      summary: Адрес в ФИАС по идентификатору
      description: |
        Находит адрес в справочнике ФИАС по коду КЛАДР или ФИАС.
        По КЛАДР-коду ищет до улицы, по ФИАС-коду — до дома. По ФИАС-коду квартиры не ищет
      externalDocs: { url: https://dadata.ru/api/find-fias/ }
      operationId: findFias
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindFiasPayload' }
            examples:
              simple_query:
                value: { query: '9120b43f-2fae-4838-a144-85e43c2bfb29' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestFiasResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/party:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, party]
      summary: Организация по ИНН или ОГРН
      description: |
        Находит компанию или ИП по ИНН или ОГРН.
        Возвращает все доступные сведения о компании, в отличие от метода suggest, который возвращает только базовые поля.
      externalDocs: { url: https://dadata.ru/api/find-party/ }
      operationId: findParty
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindPartyPayload' }
            examples:
              simple_query:
                value: { query: '7707083893' }
              only_main_branch:
                value: { 'query': '7707083893', 'branch_type': 'MAIN' }
              find_branch_by_kpp:
                value: { 'query': '7707083893', 'kpp': '540602001' }
              only_companies:
                value: { 'query': '7707083893', 'type': 'LEGAL' }
              only_individuals:
                value: { 'query': '784806113663', 'type': 'INDIVIDUAL' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/FindPartyResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/party_by:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, party_by]
      summary: Компании Беларуси по УНП
      description: |
        Поиск в справочнике организаций и индивидуальных предпринимателей Беларуси по УНП (учетному номеру налогоплательщика)
      externalDocs: { url: https://dadata.ru/api/suggest/party_by/ }
      operationId: findPartyBy
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindPartyByPayload' }
            examples:
              simple_query:
                value: { query: '190657494' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestPartyByResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/party_kz:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, party_kz]
      summary: Компании Казахстана по БИН
      description: |
        Поиск в справочнике организаций и индивидуальных предпринимателей Казахстана по БИН (бизнес-идентификационный номер)
      externalDocs: { url: https://dadata.ru/api/suggest/party_kz/ }
      operationId: findPartyKz
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindPartyKzPayload' }
            examples:
              simple_query:
                value: { query: '140440031745' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestPartyKzResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/bank:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, bank]
      summary: Банк по БИК, SWIFT, ИНН или регистрационному номеру
      description: |
        Находит банк по любому из идентификаторов:
        - БИК,
        - SWIFT,
        - ИНН,
        - ИНН + КПП (для филиалов),
        - регистрационному номеру, присвоенному Банком России.
        Ищет только по точному совпадению, для частичного совпадения используйте метод suggest.
      externalDocs: { url: https://dadata.ru/api/find-bank/ }
      operationId: findBank
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindBankPayload' }
            examples:
              simple_query:
                value: { query: '044525225' }
              simple_query_swift:
                value: { query: 'SABRRUMM012' }
              inn_i_kpp:
                value: { query: '7728168971', kpp: '667102002' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/FindBankResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/postal_unit:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, postal_unit]
      summary: Отделение почты РФ по индексу
      description: |
        Находит отделение Почты России по почтовому индексу
      externalDocs: { url: https://dadata.ru/api/suggest/postal_unit/ }
      operationId: findPostalUnit
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindPostalUnitPayload' }
            examples:
              simple_query:
                value: { query: '127642' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestPostalUnitResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/fns_unit:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, fns_unit]
      summary: Налоговая инспекция по коду или ИНН
      description: |
        Находит запись в справочнике инспекций Налоговой службы по коду инспекции или ИНН
      externalDocs: { url: https://dadata.ru/api/suggest/fns_unit/ }
      operationId: findFnsUnit
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindFnsUnitPayload' }
            examples:
              simple_query:
                value: { query: '127642' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestFnsUnitResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/fts_unit:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, fts_unit]
      summary: Таможня по коду
      description: |
        Находит запись в справочнике таможенных органов и постов по коду
      externalDocs: { url: https://dadata.ru/api/suggest/fts_unit/ }
      operationId: findFtsUnit
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindFtsUnitPayload' }
            examples:
              simple_query:
                value: { query: '10002000' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestFtsUnitResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/region_court:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, region_court]
      summary: Мировой суд по коду
      description: |
        Находит запись в справочнике мировых судов России по коду суда
        Источник данных: [ГАС «Правосудие»](https://sudrf.ru/index.php?id=300&var=true#sp)
      externalDocs: { url: https://dadata.ru/api/suggest/region_court/ }
      operationId: findRegionCourt
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindRegionCourtPayload' }
            examples:
              simple_query:
                value: { query: '52MS0022' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              {
                schema: { $ref: './schemas/response.json#/definitions/SuggestRegionCourtResponse' },
              }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/car_brand:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, car_brand]
      summary: Марка авто по ID
      description: |
        Находит марку автомобиля по внутреннему полю `id` (`ZAZ`, `FORD`, и т.д.). Получить такой ID можно из объекта в ответе API `findById/car_brand` или `suggest/car_brand`
      externalDocs: { url: https://dadata.ru/api/suggest/car_brand/ }
      operationId: findCarBrand
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindCarBrandPayload' }
            examples:
              simple_query:
                value: { query: 'FORD' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestCarBrandResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/country:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, country]
      summary: Страна по коду (стандарт ISO 3166)
      description: |
        Находит страну по одному из кодов:
        - `code` - Цифровой код страны
        - `alfa2` - Буквенный код альфа-2
        - `alfa3` - Буквенный код альфа-3
      externalDocs: { url: https://dadata.ru/api/suggest/country/ }
      operationId: findCountry
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindCountryPayload' }
            examples:
              simple_query:
                value: { query: 'TH' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestCountryResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/currency:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, currency]
      summary: Валюта по коду (стандарт ISO 4217)
      description: |
        Находит валюту по одному из кодов:
        - `code` - Цифровой код валюты
        - `strcode` - Буквенный код валюты

        Источник данных: [Общероссийский классификатор валют (ОКВ)](https://data.gov.ru/opendata/7710168515-okw)
      externalDocs: { url: https://dadata.ru/api/suggest/currency/ }
      operationId: findCurrency
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindCurrencyPayload' }
            examples:
              simple_query:
                value: { query: 'RUB' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestCurrencyResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/mktu:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, mktu]
      summary: Запись МКТУ по уникальному номеру позиции
      description: |
        Находит запись по уникальному номеру позиции в Международном классификаторе товаров и услуг (МКТУ)

        Источник данных: [Международный классификатор товаров и услуг (МКТУ)](https://www.fips.ru/publication-web/classification/mktu?view=index)
      externalDocs: { url: https://dadata.ru/api/suggest/mktu/ }
      operationId: findMktu
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindMktuPayload' }
            examples:
              simple_query:
                value: { query: '250173' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestMktuResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/okved2:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, okved2]
      summary: Вид деятельности из ОКВЭД 2 по коду
      description: |
        Находит запись в общероссийском классификаторе видов экономической деятельности (ОКВЭД 2) по коду
      externalDocs: { url: https://dadata.ru/api/suggest/okved2/ }
      operationId: findOkved2
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindOkved2Payload' }
            examples:
              simple_query:
                value: { query: '51.22.3' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestOkved2Response' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/okpd2:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, okpd2]
      summary: Вид продукции из ОКПД 2 по коду
      description: |
        Находит запись в Общероссийском классификаторе продукции по видам экономической деятельности (ОКПД 2) по коду
      externalDocs: { url: https://dadata.ru/api/suggest/okpd2/ }
      operationId: findOkpd2
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindOkpd2Payload' }
            examples:
              simple_query:
                value: { query: '95.23.10.133' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestOkpd2Response' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/oktmo:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, oktmo]
      summary: Муниципальные образования (ОКТМО) по коду
      description: |
        Находит запись в Общероссийском классификаторе территорий муниципальных образований (ОКТМО) по коду
      externalDocs: { url: https://dadata.ru/api/suggest/oktmo/ }
      operationId: findOktmo
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindOktmoPayload' }
            examples:
              simple_query:
                value: { query: '54623425' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestOktmoResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /findById/delivery:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [findById, delivery, address]
      summary: Идентификатор города в службах доставки
      description: |
        Службы доставки часто используют собственные идентификаторы городов, и требуют от магазина указывать их в заказе.
        Метод `findById/delivery` определяет идентификатор города в службе доставке на основании КЛАДР-кода города.
        Пока поддерживаются службы доставки СДЭК, Boxberry и DPD
      externalDocs: { url: https://dadata.ru/api/suggest/delivery/ }
      operationId: findDelivery
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindDeliveryPayload' }
            examples:
              simple_query:
                value: { query: '3100400100000' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/FindDeliveryResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }

  /clean/address:
    servers: [url: https://cleaner.dadata.ru/api/v1]
    post:
      tags: [clean, address]
      summary: Стандартизация адресов
      description: |
        - Разбивает адрес по отдельным полям (регион, город, улица, дом, квартира).
        - Рассчитывает корректный индекс по данным Почты России.
        - Определяет координаты.
        - Показывает округ и район города, ближайшее метро, площадь и стоимость квартиры.
        - Достает коды КЛАДР, ФИАС (ГАР), ОКАТО, ОКТМО и ИФНС.
      externalDocs: { url: https://dadata.ru/api/clean/address/ }
      operationId: cleanAddress
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/BaseCleanPayload' }
            examples:
              simple_query:
                value: ['мск сухонска 11/-89']
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/AddressClean' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
          SecretKeyAuth: []

  /clean/name:
    servers: [url: https://cleaner.dadata.ru/api/v1]
    post:
      tags: [clean, fio]
      summary: Стандартизация ФИО
      description: |
        - Исправляет опечатки и транслитерирует.
        - Проставляет пол.
        - Склоняет по падежам (кого? кому? кем?).
      externalDocs: { url: https://dadata.ru/api/clean/name/ }
      operationId: cleanFio
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/BaseCleanPayload' }
            examples:
              simple_query:
                value: ['Срегей владимерович иванов']
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json: { schema: { $ref: './schemas/response.json#/definitions/FioClean' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
          SecretKeyAuth: []

  /clean/email:
    servers: [url: https://cleaner.dadata.ru/api/v1]
    post:
      tags: [clean, email]
      summary: Стандартизация email
      description: |
        - Проверяет формат адреса.
        - Исправляет распространённые опечатки.
        - Проверяет, не «одноразовый» ли адрес.
        - Классифицирует адреса на личные (@mail.ru, @yandex.ru), корпоративные (@myshop.ru) и «ролевые» (info@, support@).
      externalDocs: { url: https://dadata.ru/api/clean/email/ }
      operationId: cleanEmail
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/BaseCleanPayload' }
            examples:
              simple_query:
                value: ['serega@yandex/ru']
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/EmailClean' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
          SecretKeyAuth: []

  /clean/phone:
    servers: [url: https://cleaner.dadata.ru/api/v1]
    post:
      tags: [clean, phone]
      summary: Стандартизация телефонов
      description: |
        - Проверяет телефон.
        - Проставляет актуальный код города / DEF-код.
        - Восстанавливает оператора. Учитывает переносы номера между операторами.
        - Определяет страну, регион, город и часовой пояс.
      externalDocs: { url: https://dadata.ru/api/clean/phone/ }
      operationId: cleanPhone
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/BaseCleanPayload' }
            examples:
              simple_query:
                value: ['раб 846)231.60.14 *139']
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/PhoneClean' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
          SecretKeyAuth: []

  /clean/passport:
    servers: [url: https://cleaner.dadata.ru/api/v1]
    post:
      tags: [clean, passport]
      summary: Стандартизация паспортов
      description: |
        - Проверяет формат серии и номера.
        - Проверяет паспорт по справочнику недействительных паспортов МВД.

        **Внимание**
        МВД сломало реестр паспортов, поэтому сервис работает по справочнику от 21 июня 2023 года.
        Подробнее см.: https://t.me/dadataru_health/186
      externalDocs: { url: https://dadata.ru/api/clean/passport/ }
      operationId: cleanPassport
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/BaseCleanPayload' }
            examples:
              simple_query:
                value: ['4509 235857']
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/PassportClean' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
          SecretKeyAuth: []

  /clean/birthdate:
    servers: [url: https://cleaner.dadata.ru/api/v1]
    post:
      tags: [clean, birthdate]
      summary: Стандартизация дат рождения
      description: |
        Проверяет и приводит дату рождения к единому формату
      externalDocs: { url: https://dadata.ru/api/clean/birthdate/ }
      operationId: cleanBirthdate
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/BaseCleanPayload' }
            examples:
              simple_query:
                value: ['24/3/12']
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json: { schema: { $ref: './schemas/response.json#/definitions/DateClean' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
          SecretKeyAuth: []

  /clean/vehicle:
    servers: [url: https://cleaner.dadata.ru/api/v1]
    post:
      tags: [clean, vehicle]
      summary: Стандартизация автомобилей
      description: |
        Распознает марки и модели автомобилей
      externalDocs: { url: https://dadata.ru/api/clean/vehicle/ }
      operationId: cleanVehicle
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/BaseCleanPayload' }
            examples:
              simple_query:
                value: ['форд фокус']
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/VehicleClean' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
          SecretKeyAuth: []

  /clean:
    servers: [url: https://cleaner.dadata.ru/api/v1]
    post:
      tags: [clean]
      summary: Стандартизация составных записей
      description: |
        Стандартизует запись, которая состоит из нескольких полей. Например:
        - ФИО + адрес + телефон + второй телефон
        - Дата рождения + паспорт
        - Адрес + email

        В одном запросе можно передавать только одну составную запись.
        Максимальное количество полей в одной записи:
        - 3 адреса
        - 3 телефона
        - 3 email
        - 1 ФИО
        - 1 дата рождения
        - 1 паспорт
        - 1 автомобиль
      externalDocs: { url: https://dadata.ru/api/clean/record/ }
      operationId: cleanCombined
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/CleanCombinedPayload' }
            examples:
              simple_query:
                value:
                  {
                    structure: ['NAME', 'ADDRESS', 'PHONE'],
                    data:
                      [['Федотов Алексей', 'Москва, Сухонская улица, 11 кв 89', '8 916 823 3454']],
                  }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/CleanCombinedRecord' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
          SecretKeyAuth: []

  /geolocate/address:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [other, geolocate, address]
      summary: Адрес по координатам
      description: |
        Находит ближайшие адреса (дома, улицы, города) по географическим координатам. Только для России.
      externalDocs: { url: https://dadata.ru/api/geolocate/ }
      operationId: geolocateAddress
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/GeolocateAddressPayload' }
            examples:
              simple_query:
                value: { lat: 55.878, lon: 37.653 }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestAddressResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []

  /geolocate/postal_unit:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [other, geolocate, postal_unit]
      summary: Ближайшие почтовые отделения
      description: |
        Находит ближайшие к указанным координатам отделения Почты России
        Можно указать радиус максимального удаления от указанных координат
      externalDocs: { url: https://dadata.ru/api/suggest/postal_unit/ }
      operationId: geolocatePostalUnit
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/GeolocatePostalUnitPayload' }
            examples:
              simple_query:
                value: { lat: 55.878, lon: 37.653, radius_meters: 1000 }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/SuggestPostalUnitResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []

  /iplocate/address:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    summary: Город по IP-адресу
    description: |
      - Определяет город по IP-адресу в России. Использует IP-адрес клиента, значение из параметра ip или заголовок X-Forwarded-For.
      - Поддерживает как IPv4, так и IPv6 адреса.
      - Возвращает детальную информацию о городе, в том числе почтовый индекс.

      **Алгоритм выбора IP-адреса из параметров запроса**
      ```
      ЕСЛИ IP указан в параметре ip
      ТО использовать его
      ИНАЧЕ
        ЕСЛИ IP указан в HTTP-заголовке X-Forwarded-For
        ТО использовать его
        ИНАЧЕ вернуть IP сокета соединения
      Местоположение определяется только для российских адресов.
      ```
    post:
      tags: [other, iplocate, address]
      summary: POST-версия метода "Город по IP-адресу"
      description: |
        Определяет город по IP-адресу, указанному в теле запроса, или в заголовке `X-Forwarded-For`,
        или по IP сокета соединения.
      externalDocs: { url: https://dadata.ru/api/geolocate/ }
      operationId: ipLocate
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/IpLocatePayload' }
            examples:
              simple_query:
                value: { ip: '46.226.227.20' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/IpLocateResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
    get:
      tags: [other, iplocate, address]
      summary: GET-версия метода "Город по IP-адресу"
      description: |
        Определяет город по IP-адресу, указанному в URL параметре, или в заголовке `X-Forwarded-For`,
        или по IP сокета соединения.
      parameters:
        - name: ip
          in: query
          description: IP-адрес для определения города (IPv4 или IPv6)
          schema: { type: string }
        - name: language
          in: query
          description: Язык результата
          schema:
            type: string
            enum: [ru, en]
            default: ru
        - name: division
          in: query
          description: Административное либо муниципальное деление
          schema:
            type: string
            enum: [ADMINISTRATIVE, MUNICIPAL]
            default: ADMINISTRATIVE
        - name: X-Forwarded-For
          in: header
          description: IP-адрес клиента (используется если ip не указан в параметрах)
          schema: { type: string }
      operationId: ipLocateGet
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/IpLocateResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []

  /findAffiliated/party:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [other, findAffiliated, party]
      summary: Поиск аффилированных компаний
      description: |
        Часто учредитель или директор не ограничивается участием в одном юрлице, а фигурирует в нескольких. Порой — в десятках разных компаний. Знать об этом полезно как для оценки надёжности контрагента, так и для более эффективного маркетинга и продаж. Чтобы облегчить поиск аффилированных компаний, «Дадата» находит организации по ИНН учредителей и руководителей.

        Ищет по ИНН физлиц и юрлиц.

        По каждой организации возвращается ограниченный набор полей. Чтобы получить все поля, выберите конкретную компанию из ответа и вызовите метод "Организация по ИНН/ОГРН" (`findById/party`).
      externalDocs: { url: https://dadata.ru/api/find-affiliated/ }
      operationId: findAffiliated
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindAffiliatedPayload' }
            examples:
              simple_query:
                value: { query: '7736207543' }
              only_founders:
                description: Искать только среди учредителей
                value: { query: '7736207543', scope: ['FOUNDERS'] }
              only_managers:
                description: Искать только среди руководителей
                value: { query: '7736207543', scope: ['MANAGERS'] }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/FindAffiliatedResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []

  /findByEmail/company:
    servers: [url: https://suggestions.dadata.ru/suggestions/api/4_1/rs]
    post:
      tags: [other, findByEmail, party]
      summary: Компания по email
      description: |
        Находит компанию по адресу электронной почты
      externalDocs: { url: https://dadata.ru/api/find-company/by-email/ }
      operationId: findPartyByEmail
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './schemas/request.json#/definitions/FindPartyByEmailPayload' }
            examples:
              simple_query:
                value: { query: 'info@dadata.ru' }
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/FindPartyByEmailResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '413': { $ref: '#/components/responses/ContentTooLarge' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []

  /stat/daily:
    servers: [url: https://dadata.ru/api/v2]
    get:
      tags: [account, stats]
      summary: Статистика использования сервисов «ДаДаты»
      description: |
        Возвращает агрегированную статистику и остатки за сегодняшний день по каждому из сервисов:
        - стандартизация (`clean`)
        - компания по email (`company`)
        - поиск дублей (`merging`)
        - подсказки (`suggestions`)

        В поле `services` возвращается суммарное количество запросов, израсходованное по каждому сервису с начала суток.
        В поле `remaining` возвращается расчетное количество оставшихся запросов согласно балансу и тарифу.
      externalDocs: { url: https://dadata.ru/api/stat/ }
      operationId: fetchDailyStats
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/DailyStats' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
          SecretKeyAuth: []

  /profile/balance:
    servers: [url: https://dadata.ru/api/v2]
    get:
      tags: [account, balance]
      summary: Баланс пользователя «Дадаты»
      description: |
        Возвращает текущий баланс счета в рублях с точностью до копеек
      externalDocs: { url: https://dadata.ru/api/balance/ }
      operationId: fetchBalance
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/ProfileBalanceResponse' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
          SecretKeyAuth: []

  /version:
    servers: [url: https://dadata.ru/api/v2]
    get:
      tags: [account, dadata, versions]
      summary: Версии и даты справочников «ДаДаты»
      description: |
        Возвращает версии сервисов и даты актуальности справочников (ФИАС, ЕГРЮЛ, банки и другие).
      externalDocs: { url: https://dadata.ru/api/version/ }
      operationId: fetchVersions
      responses:
        '200':
          description: Запрос успешно обработан
          content:
            application/json:
              { schema: { $ref: './schemas/response.json#/definitions/ServiceVersions' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '405': { $ref: '#/components/responses/MethodNotAllowed' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '5XX': { $ref: '#/components/responses/InternalServerError' }
      security:
        - TokenAuth: []
