@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-slate-300);
  }

  input:focus-visible,
  textarea:focus-visible {
    @apply ring-1 ring-slate-600 outline-none;
  }
}

@theme {
  --breakpoint-xs: 30rem;
  --text-md: 0.9335rem;
  --color-accent: var(--color-slate-700);
}
